@media (min-width: 400px) {
  :root {
    font-size: 24px;
  }
  .iphone-margins {
    padding-top: env(safe-area-inset-top, 0px);
    padding-right: env(safe-area-inset-right, 0px);
    padding-bottom: env(safe-area-inset-bottom, 0px);
    padding-left: env(safe-area-inset-left, 0px);
  }
  body {
    height: -webkit-fill-avalible;
    margin: 0;
    border: 1px solid transparent;
  }
}
table {
  background-color: #c5ccb8;
  border-collapse: collapse;
}
table thead tr:nth-child(1) th {
  background-color: #c38890;
}
table thead tr:nth-child(1) th:nth-child(11), table thead tr:nth-child(1) th:nth-last-child(5) ~ th {
  font-size: 0.8em;
}
table thead tr:nth-child(1) th:nth-last-child(3) {
  font-size: 0.7em !important;
}
table thead tr:nth-child(2) th {
  background-color: #be955c;
}
table thead tr:nth-child(2) th:nth-child(n+2) {
  font-size: 0.5em;
}
table thead tr:nth-child(3) th {
  background-color: #6eaa78;
}
table thead tr:nth-child(4) th {
  background-color: #7ca1c0;
}
table thead .t-null {
  box-shadow: inset 0 0 0 100px rgba(110, 105, 98, 0.5333333333);
}
table thead tr th:nth-child(1), table thead tr th:nth-child(11), table thead tr th:nth-last-child(5) ~ th {
  box-shadow: 0 0 0 1px #433455;
}
table tbody tr td:nth-child(1), table tbody tr td:nth-child(11), table tbody tr td:nth-last-child(5) ~ td {
  box-shadow: inset 0 0 0 100px rgba(176, 154, 130, 0.2666666667), 0 0 0 1px #433455;
}
table tbody tr td {
  background-color: #c5ccb8;
}
table thead tr th, table tbody tr td {
  min-width: 2rem;
  max-width: 2rem;
  width: 2rem;
  text-align: center;
  border: 1px solid #433455;
  outline: blue;
}
table thead tr th:nth-child(1), table tbody tr td:nth-child(1) {
  position: sticky;
  top: -100vh;
  left: 0;
  min-width: 5rem;
  max-width: 5rem;
  width: 5rem;
  padding: 0 5px;
  box-sizing: border-box;
  font-size: 0.8em;
  text-align: right;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  z-index: 1;
}
table thead tr th:nth-child(11), table tbody tr td:nth-child(11) {
  z-index: 1;
  position: sticky;
  top: -100vh;
  left: 5rem;
  right: calc(2rem + 0px + 0px);
}
table thead tr th:nth-child(21), table tbody tr td:nth-child(21) {
  z-index: 0;
  position: sticky;
  top: -100vh;
  left: 7rem;
  right: calc(2rem + 0px + 0px);
}
table thead tr th:nth-last-child(3), table tbody tr td:nth-last-child(3) {
  position: sticky;
  top: -100vh;
  right: 0px;
}
table thead tr th:nth-last-child(2), table tbody tr td:nth-last-child(2) {
  position: sticky;
  top: -100vh;
  right: 0px;
}
table thead tr th:nth-last-child(1), table tbody tr td:nth-last-child(1) {
  position: sticky;
  top: -100vh;
  right: 0px;
}

th, td {
  padding: 0;
  border: 1px solid #433455;
}

body {
  background-image: url("../images/pexels-edward-goeters-5802951.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  height: -webkit-fill-avalible;
  background-attachment: fixed;
  margin: 0;
}

.centering-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.content {
  border: 2px solid black;
  box-shadow: 0 0 1rem 0.5rem #c5ccb8;
  flex-shrink: 1;
  overflow-x: scroll;
  padding-bottom: 10px;
  background-color: #c5ccb8;
}

#card {
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
}

select.course {
  width: 100vw;
  height: 5vh;
  flex-grow: 1;
}

.extendo-select {
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type=radio], input[type=checkbox] {
  height: 2.5em;
  width: 2.5em;
}

select {
  width: 100%;
  height: 1.5em;
  font-size: 1em;
}
select option {
  font-size: 0.75em;
}

table input {
  padding: 3px;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  border-color: #c5ccb8;
  background-color: transparent;
  transition: border-color 0.2s;
  font-size: 1em;
}

table input:hover {
  border: 3px solid #bbb;
  padding: 0px;
}

table input:focus {
  border: 3px solid #666;
  padding: 0px;
}

/*
tr{
    display: block;
    float: left;
}
th, td{
    display: block;
}
*/

/*# sourceMappingURL=game.css.map */
