// $pallate_white  : #eee1d9;
$pallate_white  : #c5ccb8;
$pallate_font   : #433455;

$pallate_null   : #6e696288;
$pallate_row1   : #c38890;
$pallate_row2   : #be955c;
$pallate_row3   : #6eaa78;
$pallate_row4   : #7ca1c0;
// $pallate_not_editable: #eeeeff88;
$pallate_not_editable : #b09a8244;
$pallate_font_trans   : #433455dd;

$width_c1  : 5rem;
$width_cell: 2rem;
$width_peek: 0px;





body{
    background-image: url("../images/pexels-edward-goeters-5802951.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}

.centering-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 1rem;
}

.content{
    border: 2px solid black;
    box-shadow: 0 0 1rem 0.5rem $pallate_font;
    flex-shrink: 1;
    
    border: 2px solid black;
    box-shadow: 0 0 1rem 0.5rem $pallate_font;
}



@media  (min-width: 400px){
    :root{
        font-size: 24px;
        
    }
}

select.course{
    width: 100vw;
    height: 5vh;
    flex-grow: 1;
}

.extendo-select{
    display: flex;
    justify-content: center;
    
    width: 100%;
}

// input{
//     display: block;
//     height: 20vh;
//     width: 20vw;
// }

input[type="radio"], input[type="checkbox"]{
    height: 2.5em;
    width: 2.5em;

}

select{
    width:100%;
    height:1.5em;
    font-size: 1em;
    // background-color: ;

    option{
        font-size: 0.75em;
    }
}
